<h1>List of all post</h1>



<table>
    <tr>
        <th>Post Title</th>
        <th>Post Body</th>
        <th>Post Actions</th>
    </tr>

    <% @posts.each do |post|%>
        <tr>
            <td><h3><%= post.title %></h3></td>
            <td><p><%= post.body %></p></td>
            <td><p>Show | Edit | Delete</p></td>
        </tr>
    <% end %>
</table>