<div class="text-center">
    <h1 id="forFontColor">Quizzes</h1>

    <div id="forFontColor" style="display: inline-grid">
        <% @quizzes.each do |quiz|%>
            <%= render quiz %>
        <% end %>
    </div>
    <div>
        <%= link_to "Make A New Quiz", new_quiz_path%>
    </div>
</div>
